@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 48px;
    align-items: stretch;
    justify-items: stretch;
}

.topo{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 48px 48px;
    align-items: stretch;
    justify-items: stretch;
    grid-column: 1/6;
    grid-row: 1/3;
    background-color: #ffb36e;
}

.topo .logo{
    display: flex;
    align-items: center; /* Isso centralizará verticalmente o seu h1 */
    justify-content: center; /* Isso já centraliza horizontalmente o seu h1 com text-align */
    grid-column: 1/2;
    grid-row: 1/3;
}

.topo .logo #imglogo{
    width: 60px;
}

.topo .cabecalho{
    display: flex;
    align-items: center; /* Isso centralizará verticalmente o seu h1 */
    justify-content: center; /* Isso já centraliza horizontalmente o seu h1 com text-align */
    grid-column: 6/10;
    grid-row: 1/3;
}

.topo .cabecalho h1{
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 48px;
    color: white;
}

.navegacao{
    grid-column: 1/6;
    grid-row: 3/4;
    background-color: #ffcaa4;
    display: flex;
    justify-content: center; /* Isso distribuirá espaço ao redor de cada link */
    align-items: center; /* Isso alinhará verticalmente os links */
}

.navegacao a {
    padding: 0 25px; /* Isso adiciona um espaçamento de 10px à esquerda e à direita de cada link */
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    color: white;
}

.navegacao #selecionado {
    background-color: #ff7b009c;
}

.titulo{
    grid-column: 1/6;
    grid-row: 4/6;
    margin: 12px;
}

.titulo h2{
    margin-left: 20px;
    color: #ff8024;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
}

.imagens{
    grid-column: 1/6;
    grid-row: 6/24;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 288px);
    justify-items: center;
    align-items: center;
}

.imagens img{
    width: 480px;
    height: 260px;
    border-radius: 35px;
}

.imagem-com-legenda {
    position: relative;
}

.legenda {
    position: absolute;
    padding: 8px; /* Espaçamento interno para a legenda */
    text-align: center;
    bottom: 0;
    width: 100%;
    border-radius: 0 0 35px 35px;
    background-color: #ff6e30aa; /* Fundo semi-transparente */
    color: white;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
}

.rodape{
    display: flex;
    align-items: center; /* Isso centralizará verticalmente o seu h1 */
    justify-content: center; /* Isso já centraliza horizontalmente o seu h1 com text-align */
    margin-top: 15px;
    grid-column: 1/6;
    grid-row: 24/25;
    color: white;
    background-color: black;
    font-size: 10px;
    font-weight: bold;
}
