@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 48px;
    align-items: stretch;
    justify-items: stretch;
}

.topo{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: 48px 48px;
    align-items: stretch;
    justify-items: stretch;
    grid-column: 1/6;
    grid-row: 1/3;
    background-color: #ffb36e;
}

.topo .logo{
    display: flex;
    align-items: center; /* Isso centralizará verticalmente o seu h1 */
    justify-content: center; /* Isso já centraliza horizontalmente o seu h1 com text-align */
    grid-column: 1/2;
    grid-row: 1/3;
}

.topo .logo #imglogo{
    width: 60px;
}

.topo .cabecalho{
    display: flex;
    align-items: center; /* Isso centralizará verticalmente o seu h1 */
    justify-content: center; /* Isso já centraliza horizontalmente o seu h1 com text-align */
    grid-column: 6/10;
    grid-row: 1/3;
}

.topo .cabecalho h1{
    font-family: "Bubblegum Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 48px;
    color: white;
}

.navegacao{
    grid-column: 1/6;
    grid-row: 3/4;
    background-color: #ffcaa4;
    display: flex;
    justify-content: center; /* Isso distribuirá espaço ao redor de cada link */
    align-items: center; /* Isso alinhará verticalmente os links */
}

.navegacao a {
    padding: 0 25px; /* Isso adiciona um espaçamento de 10px à esquerda e à direita de cada link */
    text-decoration: none;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    color: white;
}

.navegacao #selecionado {
    background-color: #ff7b009c;
}

.sobre{
    grid-column: 1/4;
    grid-row: 4/8;
    background-color: #ececec;
    border-radius: 50px;
    margin: 12px;
}

.sobre h2{
    margin-left: 25px;
    border-radius: 50px;
    color: #ff8024;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

.sobre p{
    margin: 0px 18px;
    text-align: justify;
    text-indent: 50px;
}

.localizacao {
    display: flex;
    flex-direction: column; 
    grid-column: 4/6;
    grid-row: 4/19;
    margin: 12px;
    border-radius: 50px;
    background-color: #ececec;
}

.localizacao h2{
    margin-left: 25px;
    color: #ff8024;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
}

.localizacao p{
    margin: 0px 18px;
    text-align: justify;
}

.localizacao .mapa{
    margin: 10px auto;
}

.localizacao h3{
    margin-left: 18px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 26px;
}

.localizacao .proxima{
    text-align: justify;
    line-height: 34px;
}

.imagens{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 168px 168px;
    grid-column: 1/4;
    grid-row: 8/15;
    align-items: stretch;
    justify-items: stretch;
    margin: 0 10px;
}

.imagens img{
    width: 285px;
    height: 150px;
    margin: auto;
}

.prservicos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 48px);
    grid-column: 1/4;
    grid-row: 15/19;
    align-items: stretch;
    justify-items: stretch;
    margin: 10px;
    border-radius: 50px;
    background-color: #ececec;
}

.prservicos h2{
    margin-left: 25px;
    grid-column: 1/3;
    grid-row: 1/2;
    color: #ff8024;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
}

.prservicos ul {
    padding-left: 30px;
    line-height: 25px;
    font-size: 26px;
    margin: 0px 18px;
}

.prservicos ul .parteum{

    grid-column: 1/2;
    grid-row: 2/6;
    text-align: left;
}

.prservicos ul .partedois{
    grid-column: 2/3;
    grid-row: 2/6;
    text-align: left;
}

.rodape{
    display: flex;
    align-items: center; /* Isso centralizará verticalmente o seu h1 */
    justify-content: center; /* Isso já centraliza horizontalmente o seu h1 com text-align */
    margin-top: 15px;
    grid-column: 1/6;
    grid-row: 19/20;
    color: white;
    background-color: black;
    font-size: 14px;
    font-weight: bold;
}
